---
import Layout from '../layouts/Layout.astro';
import CardLink from '../components/CardLink.astro';
const { locals } = Astro;

---

<Layout>
	<main class="main-container">
		{locals.isLoggedIn ? (
			<div class="container">
					<CardLink href="/start" title="New" body="A brand new start" />
					<CardLink href="/remember" title="Remember" body="Revisit your Whys"/>
			</div>
		) : (
			<CardLink href="/signin" title="Sign in" body="Sign in to your account" />
		)}
	</main>
</Layout>

<style>
	.main-container {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 100vh;
		padding: 1rem;
	}
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 400px;
		gap: 1rem;
	}
	.container > * {
		width: 100%;
	}
</style>