---
import Layout from '../layouts/Layout.astro';
const { locals } = Astro;
if (!locals.isLoggedIn) {
    return Astro.redirect('/signin');
}

---

<Layout>
	<main class="main-container">
	</main>
</Layout>